<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>个人中心</title>
    <link rel="stylesheet" type="text/css" href="../static/css/top.css">
    <link rel="stylesheet" type="text/css" href="../static/css/lunbo.css">
    <script src="../static/js/jquery-1.8.3.min.js"></script>
    <script src="../static/js/public.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/vipcenter.css">
    <link rel="stylesheet" type="text/css" href="../static/css/footer.css"/>
</head>

<body>
<!--顶部菜单有改动与首页的不一样，请单独调用-->
<div class="dy1">
	<div class="dy2">
        <ul class="dy3">
            <li><a href="#" onclick="location.href='index?name={{ name }}'">小白首页<br/>小白首页</a></li>
            <li><a href="#" id="diyunapp">商城APP<br/>商城APP</a></li>
        </ul>
        <ul class="dy4">
            {% if name %}
                <li><a href="#">{{ name }}<br/>{{ name }}</a></li>
                <li><a href="#" onclick="location.href='log_out'" id="username">退出登录<br/>退出登录</a></li>
            {% else %}
                <li><a href="#">登录<br/>登录</a></li>
                <li><a href="#">注册<br/>注册</a></li>
            {% endif %}
        </ul>
         <div class="dy9">
         	<img src="../static/img/phone.png"/>
         </div>
    </div>
</div>
<!--个人中心首页-->
<div class="thetoubu">
	<!--头部-->
	<div class="thetoubu1">
    	<b>
            <!--这里是用户的头像，该头像也从数据库中获取-->
        	<img src="https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=1781615267,834481015&fm=27&gp=0.jpg"/>
        </b>
        <em>{{ name }}</em>
        <em>欢迎来到会员中心</em>
        <a href="#" onclick="location.href='vip_amend'">修改资料</a>
        <h5>账户安全</h5>
        {% if pwd > 10 %}
            <strong>高</strong>
            <span>
                <p style=" width:80%"></p>
            </span>
        {% elif pwd < 10 and pwd > 6 %}
            <strong>中</strong>
            <span>
                <p style=" width:50%"></p>
            </span>
        {% else %}
            <strong>低</strong>
            <span>
                <p style=" width:30%"></p>
            </span>
        {% endif %}
        <a href="#" onclick="location.href='secure'">安全等级提升</a>
    </div>
    <!--详细列表-->
    <div class="xiangxilbnm">
    	<!--left-->
        <div class="liefyu">
        	<h2>交易管理</h2>
                <div class="conb">
                <a href="#" onclick="location.href='cart'">我的购物车</a>
                <a href="#" onclick="location.href='shop_cang'">我的收藏</a>
                <a href="#">交易评价/晒单</a>
                </div>
            <h2>客户服务</h2>
                <div class="conb">
                <a href="#">退款及退货</a>
                <a href="#">交易投诉</a>
                <a href="#">商品咨询</a>
                </div>
            <h2>资料管理</h2>
                <div class="conb">
                <a href="#">账户信息</a>
                <a href="#" onclick="location.href='secure'">账户安全</a>
                </div>
        </div>
        <script type="text/javascript">
		$(function(){//第一步都得写这个
			$(".liefyu h2").click(function(){//获取title，并且让他执行下面的函数
			$(this)/*点哪个就是哪个*/.next(".conb")/*哪个标题下面的con*/.slideToggle()/*打开/折叠*/.siblings/*锁定同级元素*/(".con").slideUp()/*同级元素折叠起来*/
			})
		})
		</script>
        <!--right-->
        <div class="zuirifip">
        <!--lll-->
        	<div class="zuiriftp1">
            	<ul>
                	<li>
                        <span>账户余额</span>
                        <p>￥1000</p>
                    </li>
                    <li>
                    	<span>我的积分</span>
                        <p>1000</p>
                    </li>
                    <li>
                    	<span>我的优惠劵</span>
                        <p><s>2</s>张</p>
                    </li>
                </ul>
            </div>
        <!--我的购物车-->
        	<div class="dfdaspjtk">
                <!--点击我的购物车，进入购物车-->
            	<span style=" display:block; float:left; font-size:14px; font-weight:bold; line-height:34px; padding-left:20px; padding-right:20px; color:#666">我的购物车</span>
                <!--清空购物车中该用户对应购物车信息-->
                <a href="#" style=" display:block; float:right; font-size:14px; font-weight:bold; line-height:34px; padding-left:20px; padding-right:20px; color:#f90">清空购物车</a>
                <a href="#" style=" display:block; float:right; font-size:14px; font-weight:bold; line-height:34px; padding-left:20px; padding-right:20px; color:#09f" onclick="location.href='cart'">查看购物车内所有商品</a>
            </div>
            <div class="wofrgwcjb">
            	<ul>
                    {% for foo in shuju %}
                        <li>
                            <!--点击商品进入到商品详情页面-->
                            <a href="#" onclick="location.href='Xiangq?id='+'{{ foo.1 }}'">
                                <b>
                                    <img src="{{ foo.3 }}"/>
                                </b>
                                <h5 style="font-size: 10px">{{ foo.4 }}</h5>
                                <span>{{ foo.7 }}元({{ foo.8 }})件</span>
                            </a>
                            <!--点击进入到店铺页面，会展示对应店铺的商品-->
                            <a href="#" onclick="location.href='store?store_name='+'{{ foo.5 }}'" style=" width:184px; line-height:20px; font-size:12px; color:#666; display:block; text-align:center" class="qsbqmzb">{{ foo.5 }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        <!--购物车结束--> 
        <!--我的商品收藏-->
        	<div class="dfdaspjtk">
            	<span style=" display:block; float:left; font-size:14px; font-weight:bold; line-height:34px; padding-left:20px; padding-right:20px; color:#666">商品收藏</span>
                <a href="#" style=" display:block; float:right; font-size:14px; font-weight:bold; line-height:34px; padding-left:20px; padding-right:20px; color:#f90">清空收藏</a>
                <a href="#" style=" display:block; float:right; font-size:14px; font-weight:bold; line-height:34px; padding-left:20px; padding-right:20px; color:#09f" onclick="location.href='shop_cang'">查看收藏的所有商品</a>
            </div>
            <div class="wofrgwcjb">
            	<ul>
                    {% for foo in shuju1 %}
                        <li>
                            <!--点击商品进入到商品详情页面-->
                            <a href="#" onclick="location.href='Xiangq?id='+'{{ foo.2 }}'">
                                <b>
                                    <img src="{{ foo.3 }}"/>
                                </b>
                                <h5 style="font-size: 10px">{{ foo.5 }}</h5>
                                <span>{{ foo.6 }}元</span>
                            </a>
                            <a href="#" onclick="location.href='store?store_name='+'{{ foo.4 }}'" style=" width:184px; line-height:20px; font-size:12px; color:#666; display:block; text-align:center" class="qsbqmzb">{{ foo.4 }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        <!--商品收藏结束-->
        <!--我收藏的店铺-->
        	<div class="dfdaspjtk" style=" background:rgba(0,66,255,0.1)">
            	<span style=" display:block; float:left; font-size:14px; font-weight:bold; line-height:34px; padding-left:20px; padding-right:20px; color:#666">店铺收藏</span>
                <a href="#" style=" display:block; float:right; font-size:14px; font-weight:bold; line-height:34px; padding-left:20px; padding-right:20px; color:#f90">清空店铺</a>
                <a href="#" style=" display:block; float:right; font-size:14px; font-weight:bold; line-height:34px; padding-left:20px; padding-right:20px; color:#09f" onclick="location.href='store_cang'">查看收藏的所有店铺</a>
            </div>
            <div class="wotrfrgwcjb">
            	<ul>
                    {% for foo in shuju2 %}
                        <li>
                            <a href="#" onclick="location.href='store?store_name='+'{{ foo.3 }}'">
                                <img src="{{ foo.1 }}"/>
                                <h5>{{ foo.3 }}</h5>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        <!--店铺收藏结束-->
        </div>
        <!--right结束-->
    </div>
    <!--详细列表结束-->
</div>
<!--个人中心结束-->
<!--页脚-->
<!--footer-->
<div class="footer">
	<div class="box" style=" width:1226px; margin:0 auto">
        <ul class="lian">
            <li>
                <p><img src="../static/img/fot.png">新手指南</p>
                <a href="#">账户注册</a>
                <a href="#">购物流程</a>
                <a href="#">网站地图</a>
            </li>
            <li>
                <p><img src="../static/img/fot1.png">支付方式</p>
                <a href="#">货到付款</a>
                <a href="#">在线支付</a>
                <a href="#">礼品卡及账户余额</a>
                <a href="#">其他支付方式</a>
            </li>
            <li>
                <p><img src="../static/img/fot2.png">配送说明</p>
                <a href="#">配送运费</a>
                <a href="#">配送时间</a>
            </li>
            <li>
                <p><img src="../static/img/fot3.png">售后服务</p>
                <a href="#">退换货政策</a>
                <a href="#">退换货办理流程</a>
                <a href="#">退换货网上办理</a>
                <a href="#">退款说明</a>
            </li>
            <li>
                <p><img src="../static/img/fot4.png">关于我们</p>
                <a href="#">公司简介</a>
                <a href="#">合作专区</a>
                <a href="#">联系我们</a>
                <a href="#">友情链接</a>
            </li>
            <li>
                <p><img src="../static/img/fot5.png">帮助中心</p>
                <a href="#">找回密码</a>
                <a href="#">邮件订阅</a>
                <a href="#">产品册订阅</a>
                <a href="#">隐私声明</a>
            </li>
        </ul>
        <ul class="adv">
        	<li><img src="../static/img/adv.png">正品保障</li>
            <li><img src="../static/img/adv1.png">免运费</li>
            <li><img src="../static/img/adv2.png">送货上门</li>
            <li style="border-right:none;"><img src="../static/img/adv3.png">实物拍摄</li>
        </ul>
        <p class="ad">地址：山东省济南市天桥区历山北路黄台电子商务产业园1020室 &nbsp;&nbsp;&nbsp;邮箱：xgm@8and9.com.cn &nbsp;&nbsp;&nbsp;邮编:210008 &nbsp;&nbsp;&nbsp;电话:025-83218155</p>
        <p class="ad">Copyright © 2010 - 2013, 版权所有 SHUIGUO.COM &nbsp;&nbsp;&nbsp;苏ICP备10088888号-1</p>
    </div>
</div>

</body>	
</html>    
                
                            
                    	
                            
                            
                        
                        
                            
                        
                    
                    
                    
                    
                                
                
            


        
		
		

            
		    
                
                